@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color theme (tailwind)- Stone */
/* https://tailwindcss.com/docs/customizing-colors */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#container {
  height: 100%;
}

#sidebar {
  background-color: #262626;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  overflow: auto;
  border-radius: 15px;
  text-align: left;
}

#content {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 80%;
  overflow: auto;
  padding-top: 5%;
}